<div class="coP">
    <p class="text">Calidad, Confort y Estilo</p>
  </div>  

<div class="content">
    <div fxLayout="row wrap">
      <div fxFlex="25%">
        <mat-card class="custom-card mat-elevation-z4">
          <div class="image-container">
            <img class="card-image" src="assets/images/womenCasual.jpg" alt="Women Casual" />
          </div>
        </mat-card>
      </div>
      <div fxFlex="25%">
        <mat-card class="custom-card mat-elevation-z4">
          <div class="image-container">
            <img class="card-image" src="assets/images/womenShoes.jpg" alt="Women Shoes" />
          </div>
        </mat-card>
      </div>
      <div fxFlex="25%">
        <mat-card class="custom-card mat-elevation-z4" >
          <div class="image-container">
            <img class="card-image" src="assets/images/womenTennis.jpg" alt="Women Tennis" />
          </div>
        </mat-card>
      </div>
      <div fxFlex="25%">
        <mat-card class="custom-card mat-elevation-z4">
          <div class="image-container">
            <img class="card-image" src="assets/images/womenSandals.jpg" alt="Women Sandals" />
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div class="content">
    <div fxLayout="row wrap">
      <div fxFlex="25%">
        <mat-card class="custom-card mat-elevation-z4">
          <div class="image-container">
            <img class="card-image" src="assets/images/manCasual.jpg" alt="Women Casual" />
          </div>
        </mat-card>
      </div>
      <div fxFlex="25%">
        <mat-card class="custom-card mat-elevation-z4">
          <div class="image-container">
            <img class="card-image" src="assets/images/manCasual1.jpg" alt="Women Shoes" />
          </div>
        </mat-card>
      </div>
      <div fxFlex="25%">
        <mat-card class="custom-card mat-elevation-z4" >
          <div class="image-container">
            <img class="card-image" src="assets/images/manTennis.jpg" alt="Women Tennis" />
          </div>
        </mat-card>
      </div>
      <div fxFlex="25%">
        <mat-card class="custom-card mat-elevation-z4">
          <div class="image-container">
            <img class="card-image" src="assets/images/manSandals.jpg" alt="Women Sandals" />
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div>
    <p></p>
  </div>
  <div></div>
  <div></div>