.chart{
    display: block;
    width: 400px;
    height: 400px;
    margin: 5px auto;
}
.shipping-card {
    min-width: 120px;
    margin: 20px auto; 
  }
  .contenido8{
    width: 600px;
    height: 700px;
    margin-left: 105px;
  }