.contenido1{
    width: 200px;
    height: 400px;
    margin-left: 45px;
    display: flex;
  justify-content: space-between;
}
.chart{
    display: block;
    width: 400px;
    height: 400px;
    margin: 5px auto;
}
.shipping-card {
    min-width: 120px;
    margin: 20px auto; 
  }