/* Assuming this CSS code is in a separate CSS file or the component's CSS block */
.shipping-card {
  width: 300px;
  margin: auto;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #E7E7E7;
}
.mat-form-field {
  width: 100%;
}

/* Adjust label width to align labels properly */
.mat-form-field-label {
  width: 100px; /* You can adjust this value to your preference */
}

.mat-form-field-container {
  margin-bottom: 16px;
}

mat-icon {
  cursor: pointer;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

