html,
body{
    height: 100%;
}

body{
    margin: 0;
    background-image: url('../src/assets/images/ladrillos4.jpg');
    backdrop-filter: blur(3px);
    color: black; /* Set the text color to white for better visibility */
}

/*PALETA DE COLORES
 #06078C
#DAF7A6
#FFC300
#FF5733
#C70039 */

color0  {
    color:#060920
}

color1  {
    color:#056105
}
color2  {
    color:#FFC300
}
color3  {
    color:#750918
}
color4  {
    color:#e84a33
}
color5  {
    color:#D14B08
}
color6{
    color:#5875BF
}
colror7{
    color: #E35276
}
color8{
    color: #CBE86B
}

/* #080a18, #c9db4e, #c87d99, #e84a33, #fee65f, #9bcfdf */

/* #090a11, #fff89e, #ebdc7e, #9c5220, #006939, #efef98, #5ec7b3, #d1e9b7, #4e6642, #3e0427, #f0f8b7, #e3ea39, #f8da62, #fda76b, #979d41, #77a026, #13722f, #bdb76c, #d88286, #8d1b26 */



:root {
    --primary-color: #060920;
    --primary-light: #2b2c3c;
    --primary-dark: #03060c;
  
    --secondary-color: #ff8977;
    --secondary-light: #ffb09a;
    --secondary-dark: #e76a5e;
  
    --background-color: #f5f5f5;
    --text-color: #333;
    --accent-color: #457fad;
    --success-color: #34c759;
    --error-color: #ff3b30;
  }
  
  :root {
    --primary-color: #022146;
    --secondary-color: #ff6b6b;
    --accent-color: #5cb85c;
    --neutral-color-1: #f5f5f5;
    --neutral-color-2: #333333;
    --highlight-color: #ffd700;
  }
  /* <a style="color: #022146; background-color: #9dbcfd;" */
.amarillo{
    color:#ffe862
}
.verde{
    color:#9dfdcd
}
.celeste{
    color: #9dbcfd
}
.lila{
    color: #ba9dfd
}
  /* Example usage */
  .card {
    background-color: var(--neutral-color-1);
    color: var(--neutral-color-2);
    /* border: 1px solid var(--primary-color); */
  }
  
  .button-primary {
    background-color: var(--primary-color);
    color: white;
  }
  
  .button-accent {
    background-color: var(--accent-color);
    color: white;
  }
  
  .link {
    color: var(--secondary-color);
  }
  
  .success-message {
    color: var(--highlight-color);
  }
  