html,
body{
    height: 100%;
}

body{
    margin: 0;
    background-color: #EFEFEF; /* Set the background color to black for the dark theme */
    color: black; /* Set the text color to white for better visibility */
}