.full-width-table {
    width: 100%;
  }
  .square-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px; /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
    border-radius: 4px; /* Adjust the border-radius as needed */
    background-color: rgb(36, 218, 97);
  }
  .squar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px; /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
    border-radius: 4px; /* Adjust the border-radius as needed */
    background-color:  rgb(30, 162, 238);
  }
  
  .add {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px; /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
    border-radius: 4px; /* Adjust the border-radius as needed */
    background-color:  #750918;
  }
  .finalizado{
    background-color: rgb(4, 77, 4);
    text-align: center;
    border-radius: 4px;
  }

  .pendiente{
    background-color: #750918;
    text-align: center;
    border-radius: 4px;
  }