<br><br>
<br><br><div class="grid-container" *ngIf="usuario">
    <div class="contenedor">
      <img src="assets/images/logo6.png" alt="Your Image">
      <h2>Bienvenido {{usuario.nombre}}!</h2>
    </div>
    <div class="row">
      <div class="col-4">
        <h3>Datos Personales</h3>
        <p><strong>Identificación:</strong> {{ usuario.identificacion }}</p>
        <p><strong>Nombre Completo:</strong> {{ usuario.nombre + " " + usuario.primerApellido + " " + usuario.segundoApellido}}</p>  
        <p><strong>Correo Electrónico:</strong> {{ usuario.email }}</p>
      </div>
                
      <div class="col-8">
        <div class="row">
          <div class="dirmet-card">
              <button mat-button aria-label="Agregar dirección" class="custom-header" (click)="agregarDireccion()">Añadir nueva dirección<mat-icon>location_on</mat-icon></button>
            <mat-accordion>
              <mat-expansion-panel *ngFor="let direccion of usuario.direcciones">
                <mat-expansion-panel-header class="custom-header">
                  <mat-panel-title>
                   Detalles de Direcciones
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p><b>Provincia: </b>{{ direccion.provincia }}</p>
                <p><b>Cantón: </b>{{ direccion.canton }}</p>
                <p><b>Distrito: </b>{{ direccion.distrito }}</p>
                <p><b>Otras Señas: </b>{{ direccion.otrasSennas }}</p>
              </mat-expansion-panel>
            </mat-accordion>
            
          </div>
        </div>
          <div class="row">
              <div class="dirmet-card">
                  <button mat-button aria-label="Agregar método de pago" class="custom-header" (click)="agregarMetodoPago()">Añadir nuevo método de pago<mat-icon>account_balance_wallet</mat-icon>
                    
                  </button>
             
                  <mat-accordion>
                    <mat-expansion-panel  *ngFor="let metodoPago of usuario.metodosPago" class="dirmet-item">
                      <mat-expansion-panel-header class="custom-header">
                        <mat-panel-title>
                          Detalles de Métodos de Pago
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                    <p><b>Descripcion: </b>{{ metodoPago.descripcion }}</p>
                    </mat-expansion-panel >
                </mat-accordion>
              </div>
            </div>
            
        </div>
      </div>
    </div>