<br><br>
<br><br><div class="grid-container" *ngIf="usuario">
    <div class="contenedor">
      <img src="assets/images/logo6.png" alt="Your Image">
      <h2>Bienvenido {{usuario.nombre}}!</h2>
    </div>
    <div class="row">
      <div class="col-4">
        <h2>Datos Personales</h2>
        <p><strong>Identificación:</strong> {{ usuario.identificacion }}</p>
        <p><strong>Nombre:</strong> {{ usuario.nombre + usuario.primerApellido}}</p>  
        <p><strong>Email:</strong> {{ usuario.email }}</p>
        <h4>Direcciones</h4>
        <div *ngFor="let direccion of usuario.direcciones">
          <span style="color: #030303;" class="mat-title">
           <h6> Direccion {{direccion.id }}:</h6> {{ direccion.otrasSennas ? direccion.otrasSennas : 'Aún no ha asignado ninguna dirección' }}
          </span>
        </div>
        
      </div>
                
      <div class="col-8">
        <div class="row">
          <h4>Nueva Dirección</h4>
            <form [formGroup]="inputDireccion" >
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="otrasSennas" maxlength="50" placeholder="Direccion exacta">
                  </mat-form-field>
                  <mat-card-actions>
                    <!-- Call the createQuestion1() method on form submission -->
                    <button mat-raised-button style="background-color: #FF8977; color: #040618;" type="button" (click)="crearDireccion()">Guardar</button>
                  </mat-card-actions>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <h4>Métodos de pago</h4>
            <ul>
              <li *ngFor="let metodoPago of usuario.metodosPago">
                <p><b>Tipo de Pago: </b>{{ metodoPago.tipoPago }}</p>
                <p><b>Proveedor: </b>{{ metodoPago.proveedor }}</p>
                <p><b>Número de Cuenta: </b>{{ metodoPago.numeroCuenta }}</p>
                <p><b>Fecha de Expiración: </b>{{ metodoPago.fechaExpiracion }}</p>
              </li>
            </ul>
            <form [formGroup]="inputMetodoPago" >
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="descripcion" maxlength="50" placeholder="Metodo de pago" >
                  </mat-form-field>
                  <mat-card-actions>
                    <button mat-raised-button style="background-color: #FF8977; color: #040618;" type="button" (click)="crearMetodoPago()">Guardar</button>
                  </mat-card-actions>
                </div>
              
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>