body {
    background-color: #022146;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

  }
/* Adjust the width of the expansion panel header */
.custom-header {
  width: 100%; /* Set the desired width */
  display: flex;
  justify-content: space-between; /* Distribute the space between title and button */
  align-items: center;
}

/* Ensure the button has the same width as the expansion panel header */
.custom-header button {
  width: 100%;
}

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .contenedor {
    text-align: center;
    background-color: #022146;
    padding: 4px;
  }
  .input-container {
    display: flex;
    align-items: center;
  }
  

  
  .input-form {
    display: flex;
    align-items: center;
  }
  

  .row {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }



  h2 {
    color: #5cb85c;
    margin-bottom: 10px;
  }
  h3 {
    color: #5cb85c;
    margin-bottom: 10px;
  }
  h6 {
    color: #5cb85c;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
  }

  button {
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
  }

  button:hover {
    background-color: #3a8e3a;
  }

  mat-icon {
    vertical-align: middle;
    margin-left: 5px;
  }