<br><br>
<br><br><div class="grid-container" *ngIf="usuario">
    <div class="contenedor">
      <img src="assets/images/logo6.png" alt="Your Image">
      <h2>Bienvenido {{usuario.nombre}}!</h2>
    </div>
    <div class="row">
      <div class="col-4">
        <h2>Datos Personales</h2>
        <p><strong>Identificación:</strong> {{ usuario.identificacion }}</p>
        <p><strong>Nombre:</strong> {{ usuario.nombre + usuario.primerApellido}}</p>  
        <p><strong>Email:</strong> {{ usuario.email }}</p>
      </div>
      <div class="col-8">
        <div class="row">
            <h2>Direcciones</h2>
            
            <ul>
              <li *ngFor="let direccion of usuario.direcciones">
                <p><b>Provincia: </b>{{ direccion.provincia }}</p>
                <p><b>Cantón: </b>{{ direccion.canton }}</p>
                <p><b>Distrito: </b>{{ direccion.distrito }}</p>
                <p><b>Barrio: </b>{{ direccion.barrio }}</p>
                <p><b>Otras Señas: </b>{{ direccion.otrasSennas }}</p>
              </li>
            </ul>
            <form [formGroup]="inputDireccion" >
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="otrasSennas" maxlength="50" placeholder="Direccion exacta" >
                  </mat-form-field>
                </div>
              </div>
              <mat-card-actions>
                <!-- Call the createQuestion1() method on form submission -->
                <button mat-raised-button style="background-color: #FF8977; color: #040618;" type="button" (click)="crearDireccion()">Guardar</button>
              </mat-card-actions>
            </form>
          </div>
          <div class="row">
            <h2>Métodos de pago</h2>
            <ul>
              <li *ngFor="let metodoPago of usuario.metodosPago">
                <p><b>Tipo de Pago: </b>{{ metodoPago.tipoPago }}</p>
                <p><b>Proveedor: </b>{{ metodoPago.proveedor }}</p>
                <p><b>Número de Cuenta: </b>{{ metodoPago.numeroCuenta }}</p>
                <p><b>Fecha de Expiración: </b>{{ metodoPago.fechaExpiracion }}</p>
              </li>
            </ul>
            <form [formGroup]="inputMetodoPago" >
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="descripcion" maxlength="50" placeholder="Metodo de pago" >
                  </mat-form-field>
                </div>
              </div>
              <mat-card-actions>
                <!-- Call the createQuestion1() method on form submission -->
                <button mat-raised-button style="background-color: #FF8977; color: #040618;" type="button" (click)="crearMetodoPago()">Guardar</button>
              </mat-card-actions>
            </form>
        </div>
      </div>
    </div>
  </div>