<mat-card class="full-width" style="background-color: #2B2D43;">
    <!-- Titulo del Card -->
    <mat-card-title>
      Zapatos
      <a
        mat-fab
        matTooltip="Crear nuevo estilo"
        aria-label="Crear nuevo estilo"
        color="primary"
      >
        <mat-icon>add</mat-icon>
      </a>
    </mat-card-title>
    <mat-card-content >
      <!-- Table -->
      <div class="mat-elevation-z8" >
        <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements" style="background-color: #060920;">
          <!-- Columna nombre -->
          <ng-container matColumnDef="nombreProducto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let row">{{ row.nombreProducto }}</td>
          </ng-container>
  
          <!-- Columna precio -->
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
            <td mat-cell *matCellDef="let row">{{ row.precio }}</td>
          </ng-container>
          <!-- Columna acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef >Acciones</th>
            <td mat-cell *matCellDef="let row">
              <a
                mat-fab
                matTooltip="Actualizar"
                aria-label="Actualizar"
                color="primary"
              >
                <mat-icon style="color: rgb(231, 104, 0);">edit</mat-icon>
              </a>
              <a
                mat-fab
                matTooltip="Detalle"
                aria-label="Detalle"
                color="primary"
                (click)="detalleProducto(row.id)"
              >
                <mat-icon style="color: rgb(30, 162, 238);">info</mat-icon>
              </a>
            </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
  
        <mat-paginator style="background-color: #060920;" 
          #paginator
          [length]="dataSource?.data?.length"
          [pageIndex]="0"
          [pageSize]="3"
          [pageSizeOptions]="[3, 6, 12]"
          aria-label="Seleccione una página"
        >
        </mat-paginator>
      </div>
      <!-- Table -->
    </mat-card-content>
  </mat-card>
  