<div class="principal">
    <div class="container">
      <button mat-icon-button class="close-button" [mat-dialog-close]="true" >
        <mat-icon
          class="close-icon"
          style="background-color: #060920;"
          >close</mat-icon
        >
      </button>
      <h2 class="headerh1">{{ datos?.nombreProducto }}</h2>
    </div>   
    <div class="positionImg">
    <img mat-card-image src="/assets/images/boyCasual.jpg" class="img" alt="Photo">
  </div>
    <div *ngIf="datos">

      <mat-dialog-content class="bodyDiag">   

      <mat-dialog-content class="bodyDiag">
        <img [src]="datos.fotografias" alt="Product Image">

        <p><strong>Descripción:</strong> {{ datos.descripcion }}</p>
        <p><strong>Precio: </strong>{{ datos.precio | currency : "₡" }}</p>
        <p><b>Categoría: </b>{{ datos.categoria.nombreCategoria }}</p>      
               
      <p class="green-text"><strong>Estado: </strong>
        <span *ngIf="datos.estado === 1" class="green-text">Nuevo</span>
        <span *ngIf="datos.estado !== 1" class="green-text">Viejo</span>
      </p>
      <div *ngFor="let consulta of datos.consultaProductos">
        <p><strong>Mensaje:</strong> {{ consulta.mensaje }}</p>
        <p><strong>Respuesta: </strong>{{ consulta.respuesta }}</p>  
        <p><strong>Proveedor: </strong>{{ consulta.usuario.nombre }}</p>                            
      </div> 
      </mat-dialog-content>
  
    
</mat-dialog-content>
      <mat-dialog-actions> </mat-dialog-actions>

