.dashboard-card {
    margin: 10%;
    }
  
    .principal{
      background-color: #CACACA;
      max-width: 600px;
      min-width: 400px;
    }
      
    .dashboard-card-content {
      text-align: left;
      line-height: 3em;
    }
  
    
  
    .container {
      display: flex;
      align-items: center;
      background-color: #750918;

    }
    
    .close-button {
      margin-left: 15px;
;
      background-color: #750918;
      color: red;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    .bodyDiag{
      background-color: #cacaca;
      color: black;
      margin: 0 10px;
      border: 2px solid #750918;
    }
    .img{
     max-width: 100px;
     max-height: 100px;  
     border-radius: 20px;   
    }
    .positionImg{
      margin-left: 50%;
    }
    .headerh1{
     background-color: #750918;
    }
    .green{
      background-color: rgb(37, 97, 37);
    }
    .headers{
      background-color: #060920;
      color: white;
      font-family: 'Courier New', Courier, monospace;
    }
  