
/* Add these styles to your existing styles.css or styles.scss file */

/* Main container */
.principal {
  padding: 10px; /* Reduce padding */
  background-color: #A8D5FA;
  max-width: 100%; /* Reduce the maximum width */
  margin: 0 auto; /* Center the container */
  
}

.container {
  background-color: #060920;
  padding: 10px; /* Reduce padding */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%; /* Reduce the maximum width */
}

/* Header for the product name */
.headerh1 {
  text-align: center;
  margin-top: 20px;
  font-size: 10px;
}

/* Styling for the FAQ table */
.faq-table {
  width: 100%;
  border-collapse: collapse;
}

.faq-table th,
.faq-table td {
  border: 1px solid #A8D5FA;
  padding: 8px;
  color: #060920;
}

.faq-table th {
  background-color: #240f0f;
  text-align: left;
  color: aliceblue;
}

/* Green status (Nuevos/Viejo) */
.green {
  text-align: center;
  margin-top: 20px;
}

.green-text {
  color: #4caf50;
  font-weight: bold;
}

.carousel-container2 {
  margin: 10px auto;
  max-width: 100%;
}

.carrusel {
  max-width: 100%;
  height: 200px; /* Ajusta la altura según tus necesidades */
  border-radius: 8px;
  overflow: hidden;
  
}

.carousel-inner img {
  max-width: 100%;
  height: 100%; /* Ajusta la altura para que las imágenes llenen el carousel */
  object-fit: cover;
  border-radius: 8px;
}
.panel{
  background-color: #A8D5FA;
  color: #000;
}
.bodyDiag{
  background-color: #A8D5FA;
  color: #060920;
}
.mesage{
  background-color: lightslategrey;
}
.panel .mat-expansion-panel-header.mesage:hover {
  background-color: #060920; /* Change to your desired hover background color */
}
.answer{
  background-color: lightslategrey;
}

/* Additional styles for buttons and other elements can be added here */

/* Responsiveness for smaller screens */
@media (max-width: 576px) {
  .container {
    padding: 10px;
  }

  .headerh1 h2 {
    font-size: 24px;
  }

  .carousel-inner img {
    height: 150px; /* Adjust the height for smaller screens */
  }
}

.textfotos{
  color: antiquewhite;
}
.letra{
  color: #060920;
}
