<form [formGroup]="formCreate"  novalidate>
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title style="color: #022146;">Registrate</mat-card-title>
      </mat-card-header> 
      <mat-card-content >
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Nombre</mat-label>
              <input matInput type="text" placeholder="Nombre usuario" formControlName="nombre" />
             <mat-error *ngIf="errorHandling('nombre', 'required')">
                Nombre es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput type="text" placeholder="Email usuario" formControlName="email" />
             <mat-error *ngIf="errorHandling('email', 'required')">
                Email es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña Usuario" formControlName="contrasenna" />
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
             <mat-error *ngIf="errorHandling('contrasenna', 'required')">
                Contraseña es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field  class="full-width">
              <mat-label>Rol</mat-label>
                <mat-select placeholder="Rol" formControlName="rol">
                  <mat-option *ngFor="let r of roles" [value]="r.id">
                    {{ r.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="botones">
        <button mat-raised-button style="background-color: #457FAD;" (click)="submitForm()">Registrar</button>
        <button mat-raised-button color="warn" type="reset" (click)="onReset()">Cancelar</button>
      </mat-card-actions>
    </mat-card>
    </form>
    
    