<form [formGroup]="formCreate" novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title class="titulo">Regístrate</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="input-container">
        <mat-form-field class="full-width">
          <mat-label>Identificación</mat-label>
          <input matInput type="text" placeholder="Identificación" formControlName="identificacion" />
         
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" placeholder="Nombre de usuario" formControlName="nombre" />
          <mat-error *ngIf="errorHandling('nombre', 'required')">El nombre es <strong>requerido</strong></mat-error>
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field class="full-width">
          <mat-label>Primer Apellido</mat-label>
          <input matInput type="text" placeholder="Primer Apellido" formControlName="primerApellido" />
          <mat-error *ngIf="errorHandling('primerApellido', 'required')">El primer apellido es <strong>requerido</strong></mat-error>
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field class="full-width">
          <mat-label>Segundo Apellido</mat-label>
          <input matInput type="text" placeholder="Primer Apellido" formControlName="segundoApellido" />
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email de usuario" formControlName="email" />
          <mat-error *ngIf="errorHandling('email', 'required')">El email es <strong>requerido</strong></mat-error>
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña de Usuario" formControlName="contrasenna" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="hide ? 'Hide password' : 'Show password'">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="errorHandling('contrasenna', 'required')">La contraseña es <strong>requerida</strong></mat-error>
        </mat-form-field>
      </div>

      <mat-form-field class="full-width">
        <mat-label>Rol</mat-label>
        <mat-select placeholder="Roles" formControlName="roles" multiple>
          <mat-option *ngFor="let r of rolesList; let i = index" [value]="r.id">{{ r.descripcion }}</mat-option>
        </mat-select>
        <mat-error *ngIf="errorHandling('roles', 'required')">Debe seleccionar al menos un rol</mat-error>
      </mat-form-field>
      
    </mat-card-content>
    <mat-card-actions class="botones">
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="submitForm()">Registrar</button>
        <button mat-raised-button color="warn" type="reset" (click)="onReset()">Cancelar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
