<br><br>
<mat-card class="main-div">
  <img src="assets/images/logoNuevoOriginal.png" alt="Background Image" class="background-image">
   
    <mat-card-content>
  <nav mat-tab-nav-bar class="barra" [tabPanel]="tabPanel">
    <a  mat-tab-link [routerLink]="['/usuario/login']"  routerLinkActive="active-link"><p class="titu">Ingresar</p></a>
    <a  mat-tab-link [routerLink]="['/usuario/registrar']" routerLinkActive="active-link"><p class="titu">Registrarse</p></a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  <div>	
    <router-outlet></router-outlet>	
  </div> 
  
  </mat-card-content>
  
  </mat-card>