.dashboard-card {
  min-width: 400px;
    max-width: 600px;
    min-height: 50px;
    max-height: 10000px;
    background-color: lightslategrey;
  
}
.more-button {
position: absolute;
top: 5px;
right: 10px;
}
.mat-card-content {
text-align: center;  
}

  .fondo{
background-color: beige;
  }
  .acciones{
    margin-bottom: auto;
  }
  .img{
    max-width: 80px;
    max-height: 80px;      
margin-left: 300px;

  }
