.dashboard-card {
    max-width: 600px;
    max-height: 100%;
    background-color: lightslategrey;
  
}

.mat-card-content {
text-align: center;  
}

  .fondo{
background-color: beige;
  }
  .acciones{
    margin-bottom: auto;
  }
  .img{
    max-width: 80px;
    max-height: 80px;      
margin-left: 300px;

  }

.titulo {
  font-size: 20px;
  color: #333;
}

.precio {
  font-size: 16px;
  color: #666;
}

.mat-card-content {
  text-align: center;
  padding: 10px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #750918;
}

.pagination-button {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #750918;
  color: #ffffff;
}

.detalle-button,
.comprar-button {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #750918;
  color: #ffffff;
}

.detalle-button:hover,
.comprar-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.detalle-button mat-icon,
.comprar-button mat-icon {
  font-size: 20px;
}

.detalle-button:focus,
.detalle-button:active,
.comprar-button:focus,
.comprar-button:active {
  outline: none;
}

/* ... (resto del código) ... */

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  