<br><br><br>
<mat-card-content>
  <div class="filter-container" style="background-color: #5f899c;" [formGroup]="filtroForm">
    <mat-form-field class="full-width filter-input">
      <input matInput formControlName="filtroNombre" placeholder="Nombre" />
      <button mat-icon-button matSuffix color="primary">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  
    <mat-form-field class="full-width filter-input">
      <mat-select formControlName="filtroCategoria" placeholder="Categorías" multiple>
        <mat-option *ngFor="let c of categoriasList" [value]="c.id">{{ c.nombreCategoria }}</mat-option>
      </mat-select>
      <mat-error>
        La categoría es <strong>requerida</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="full-width filter-input">
      <mat-label>Filtrar por precio</mat-label>
      <mat-select formControlName="filtroPrecio">
        <mat-option value=""><mat-icon style="background-color: #5f899c;">apps</mat-icon>Todos</mat-option>
        <mat-option value="menor"><mat-icon style="background-color: #5cb85c;">arrow_downward</mat-icon>Ordenar por precio Menor</mat-option>
        <mat-option value="mayor"><mat-icon style="background-color: #ffd700;">arrow_upward</mat-icon>Ordenar por precio Mayor</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
</mat-card-content>
<br>
<mat-grid-list [cols]="3" rowHeight="10em" gutterSize="10px" *ngIf="filterDatos">
  <mat-grid-tile *ngFor="let item of ordenarProductos(aplicarFiltros())" class="card">         
    <!--foto-->
    <div class="carousel-container2">
      <div *ngIf="item.fotografias && item.fotografias.length > 0" class="carousel-container2">
        <div class="carousel-inner">
          <div
            *ngFor="let foto of item.fotografias; let i = index"
            class="carousel-item"
            [class.active]="i === 0"
          >
            <img [src]="'http://localhost:3000/' + foto.imagen" alt="Imagen" />
          </div>
        </div>
        <div *ngIf="!item.fotografias || item.fotografias.length === 0" class="no-response">
          <div class="textfotos">Aún no hay fotos para este producto.</div>
        </div>
      </div>
    </div>
    <!--fin foto-->
    <div class="card-body" style="background-color: rgb(146, 179, 228);">
      <h5 class="card-title">{{ item.nombreProducto }}</h5>
      <h6 class="card-text" style="color: #0e1335;">Precio: ₡{{ item.precio | number: '1.2-2' }}</h6>
      <div class="green">
       <h6 *ngIf="item.cantidadDisponible >0" class="green-text">{{item.cantidadDisponible}} Disponibles</h6>
      </div>
      <div class="red">
        <h6 *ngIf="item.cantidadDisponible <= 0" class="red-text">Agotado</h6>
      </div>
      <div class="example-button-row">
        <div class="example-flex-container">             
          <button 
            mat-mini-fab
            style="background-color: #0e1335;"
            matTooltip="Comprar"
            aria-label="Comprar"
            color="primary"
            (click)="detalleProducto(item.id)">
            <mat-icon>info</mat-icon>
          </button>
        </div>
        <div class="example-flex-container">
          <button
            mat-mini-fab
            style="background-color: #0e1335;"
            color="primary"
            matTooltip="Comprar"
            aria-label="Comprar"
            (click)="comprar(item.id)">
            <mat-icon class="mat-18">add_shopping_cart</mat-icon>
          </button>
        </div>
      </div> 
    </div> 
  </mat-grid-tile>
</mat-grid-list>

<div class="button-container">
  <button mat-icon-button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button mat-icon-button class="pagination-button" (click)="nextPage()" [disabled]="currentPage === 20">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
