Card styles */
.carousel-container2{

  border-radius: 8px;

}
.dashboard-card {

    max-width: 600px;
    max-height: 10000px;
    background-color: lightslategrey;
  
}

.titulo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.precio {
  font-size: 16px;
  color: #00a000;
}

.categoria {
  font-size: 14px;
  color: #666;
}

/* Card image styles */

.carousel-inner {
  display: flex;
  width: 100%;
}

.carousel-item {

  width: 100%;
  min-width: 100%;
}

.carousel-item img {
  width: 60px;
  height: 60px;

}

.textfotos {
  padding: 10px;
}

/* Card action buttons */
/* Modern design for mat-card-actions buttons */
.mat-card-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

/* Optional: Add some hover effects to the buttons */
/* Modern design for mat-card-actions buttons */
.example-button-row {
  
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
}

.detalle-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
 

  justify-content: center;

  background-color: #A8D5FA; /* Primary color for the buttons */
  color: black; /* Text color for the buttons */
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  font-size: 18px;
  outline: none;
}

/* Optional: Add some hover effects to the buttons */





/* Pagination buttons */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #750918;
}


.pagination-button {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.pagination-button:hover:not([disabled]) {
  background-color: #ddd;
}

.pagination-button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
.pruebas{
  background-color: #A8D5FA;
  border-radius: 20px;
  width: 260px;
  height: 150px;
  padding: 4px  ;
}
