<br><br>
<br>
<br><div class="grid-container">

  <div class="grid-container">
    <form [formGroup]="metodoForm" (ngSubmit)="isCreate ? crearMetodoPago() : actualizarMetodoPago()" novalidate class="form-container">
      <h5 class="form-title"><mat-icon class="icon">account_balance_wallet</mat-icon> Nuevo Método de Pago</h5>
  
      <mat-card class="metodopago-card">
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Método de pago</mat-label>
                <mat-select formControlName="descripcion" placeholder="Tipo de pago">
                  <mat-option value="Tarjeta de crédito">Tarjeta de Crédito</mat-option>
                  <mat-option value="Tarjeta de débito">Tarjeta de Débito</mat-option>
                </mat-select>
                <mat-error *ngIf="errorHandling('descripcion', 'required')">El método de pago es requerido</mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Proveedor</mat-label>
                <mat-select formControlName="proveedor" placeholder="Proveedor">
                  <mat-option value="Mastercard">Mastercard</mat-option>
                  <mat-option value="Visa">Visa</mat-option>
                </mat-select>
                <mat-error *ngIf="errorHandling('proveedor', 'required')">El proveedor es requerido</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput formControlName="numeroTarjeta" placeholder="Numero de Tarjeta" maxlength="19" />
                <mat-error *ngIf="errorHandling('numeroTarjeta', 'required')">Es requerido un número de tarjeta</mat-error>
                <mat-error *ngIf="errorHandling('numeroTarjeta', 'pattern')">Debe contener solo dígitos</mat-error>
                <mat-error *ngIf="errorHandling('numeroTarjeta', 'incompleteLength')">No pueden ser menos o más de 16 números</mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput formControlName="vencimiento" placeholder="Fecha de Vencimiento" maxlength="7" />
                <mat-error *ngIf="errorHandling('vencimiento', 'required')">Fecha de Vencimiento es requerida</mat-error>
                <mat-error *ngIf="errorHandling('vencimiento', 'pattern')">Fecha debe ser en formato Mes/Año</mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="button-container">
          <button mat-raised-button color="primary" aria-label="Agregar método de pago" type="submit" style="background-color: #34c759;">
            Guardar
            <mat-icon class="icon-right">check_box</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  