<br><br>
<br>
<br><div class="grid-container">

  <div class="grid-container">
    <form [formGroup]="metodoForm" (ngSubmit)="isCreate ? crearMetodoPago() : actualizarMetodoPago()" novalidate class="form-container">
      <h5 class="form-title"><mat-icon class="icon">account_balance_wallet</mat-icon> Nuevo Método de Pago</h5>
  
      <mat-card class="metodopago-card">
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Método de pago</mat-label>
                <mat-select formControlName="descripcion" placeholder="Tipo de pago">
                  <mat-option value="Tarjeta">Tarjeta</mat-option>
                  <mat-option value="Sinpe">Sinpe/Transferencia</mat-option>
                  <mat-option value="Efectivo">Efectivo</mat-option>
                </mat-select>
                <mat-error *ngIf="errorHandling('descripcion', 'required')">El método de pago es requerido</mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="button-container">
          <button mat-raised-button color="primary" aria-label="Agregar método de pago" type="submit" style="background-color: #34c759;">
            Guardar
            <mat-icon class="icon-right">check_box</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  