<nav
  class="navbar navbar-expand-lg fixed-top"
  style="background-color: #060920"
>
  <div class="container-fluid">
    <div class="logo-container">
      <img src="assets/images/logo.png" alt="Logo" class="logo" />
      <span class="logo-text"></span>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            style="color: white"
            class="nav-link active"
            aria-current="page"
            href="/inicio"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a style="color: white" class="nav-link" href="/producto">Catálogo</a>
        </li>
        <li class="nav-item"  *ngIf="esAdministrador()">
          <a style="color: white" class="nav-link" href="/producto/all"
            >Productos</a
          >
        </li>
        <li class="nav-item" *ngIf="esVendedor()">
          <a style="color: white" class="nav-link" href="/producto/vendedor"
            >Productos</a
          >
        </li>
        <li class="nav-item" *ngIf="esVendedor()">
          <a style="color: white" class="nav-link" href="/orden/vendedor"
            >Pedidos</a
          >
        </li>
        <li class="nav-item" *ngIf="esCliente()">
          <a style="color: white" class="nav-link" href="/orden/client"
            >Mis Pedidos</a
          >
        </li>
        <li class="nav-item" *ngIf="esAdministrador()">
          <a style="color: white" class="nav-link" href="/admin/grafico"
            >Dashboard</a
          >
        </li>
        <li class="nav-item" *ngIf="esVendedor()">
          <a style="color: white" class="nav-link" href="/vendedor/grafico"
            >Dashboard</a
          >
        </li>
        <li class="nav-item" *ngIf="esAdministrador()">
       
          <a [matMenuTriggerFor]="menu3" style="color: white" class="nav-link" 
            > Usuarios</a>           
        <mat-menu #menu3="matMenu">
          <br> <a style="color: black" class="nav-link" href="/usuario/lista">Habilitados</a
          >
          <br />
          <a style="color: black" class="nav-link" href="/usuario/inactivo"
            > Deshabilitados</a
          >
        </mat-menu>
        </li>
      </ul>

      <div class="example-spacer left">
        <!--enlaces de la app-->
        <!--https://fonts.google.com/icons-->
        <!--https://material.angular.io/guide/typography-->
       
        <button 
          class="example-icon"
          *ngIf="esCliente()"
          mat-icon-button
          matBadgeColor="accent"
          [matBadge]="qtyItems.toString()"
          [routerLink]="'/ordenProducto'"
          [routerLinkActive]="'mat-raised-button'"
          aria-label="Cantidad"
        >
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <!--Usuario-->
        <span class="mat-caption" *ngIf="isAutenticated">{{
          currentUser.usuario.email
        }}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu3">
          <mat-icon
            style="margin-right: 15px"
            [ngStyle]="{ color: isAutenticated ? 'white' : '#fff' }"
            >person</mat-icon
          >
        </button>
        <!--Menu usuario-->
        <mat-menu #menu3="matMenu">
          <a mat-menu-item *ngIf="!isAutenticated" (click)="login()">
            <mat-icon>person_add</mat-icon>
            <span>Ingresar</span>
          </a>
          <a mat-menu-item *ngIf="isAutenticated" (click)="logout()">
            <mat-icon>person_remove</mat-icon>
            <span>Cerrar Sesión</span>
          </a>
          <a mat-menu-item *ngIf="isAutenticated" (click)="miPerfil(id)">
            <mat-icon>person</mat-icon>
            <span>Mi Cuenta</span>
          </a>
        </mat-menu>
      </div>
    </div>
  </div>
</nav>
