<br><br>
<br>
<div class="contenido">
    <h1 class="titulo">Evaluación del Pedido</h1>
    <mat-card class="dashboard-card" *ngIf="datos ">
        <mat-card-header>
        </mat-card-header>
        <mat-card-title>
            <div class="pendiente">
              
                <ng-container *ngIf="datos.calificacionFinal != null">
                    <!-- Aquí muestras las estrellas si hay una calificación -->
                    <ng-container *ngIf="datos.calificacionFinal == 1">
                        <mat-icon style="color: #ffd700;">star</mat-icon>
                    </ng-container>
                    <ng-container *ngIf="datos.calificacionFinal == 2">
                        <mat-icon style="color: #ffd700;">star</mat-icon>
                        <mat-icon style="color: #ffd700;">star</mat-icon>
                    </ng-container>
                    <ng-container *ngIf="datos.calificacionFinal == 3">
                        <mat-icon style="color: #ffd700;">star</mat-icon>
                        <mat-icon style="color: #ffd700;">star</mat-icon>
                        <mat-icon style="color: #ffd700;">star</mat-icon>
                    </ng-container>
                    <ng-container *ngIf="datos.calificacionFinal == 4">
                        <mat-icon style="color: #ffd700;">star</mat-icon>
                        <mat-icon style="color: #ffd700;">star</mat-icon>
                        <mat-icon style="color: #ffd700;">star</mat-icon>
                        <mat-icon style="color: #ffd700;">star</mat-icon>
                    </ng-container>
                    <ng-container *ngIf="datos.calificacionFinal == 5">
                        <mat-icon style="color: #ffd700;">star</mat-icon>
                        <mat-icon style="color: #ffd700;">star</mat-icon>
                        <mat-icon style="color: #ffd700;">star</mat-icon>
                        <mat-icon style="color: #ffd700;">star</mat-icon>
                        <mat-icon style="color: #ffd700;">star</mat-icon>
                    </ng-container>
                    <ng-container *ngIf="datos.id == null">
                       <h1>NO HAY!!!</h1>
                    </ng-container>
                </ng-container>
              
            </div>
        </mat-card-title>
    </mat-card>
   
</div>
