.dashboard-card {
    margin: 10%;
    }
  
    .principal{
      background-color:  #EFEFEF;;
      max-width: 600px;

      min-height: 500px;
    }
      
    .dashboard-card-content {
      text-align: left;
      line-height: 3em;
    }
  
    
  
    .container {
      display: flex;
      background-color: #161d50;
  
    }
    
    .close-button {
      background-color: #161d50;
      color: red;
      border: none;
      cursor: pointer;
     margin-left: 200px;
    }
  
    .bodyDiag{
      background-color: #EFEFEF;
      color: black;
      margin: 0 10px;
      margin-bottom: 0px;
    }
    .img{
     max-width: 100px;
     max-height: 100px;     
    }
    .positionImg{
      text-align: center;
    }

    .green-text {
      background-color: rgb(37, 97, 37);
    }

    .invoice-table {
      width: 100%;
      border-collapse: collapse;
    }
    
    .invoice-table th,
    .invoice-table td {
      border-bottom: 1px solid #060920;
      padding: 10px;
      text-align: left;
      background-color: #f0f0f0;
    }
    
    
    .invoice-footer {
      background-color: #f0f0f0;
      padding: 20px;
    }
    
    .status {
      background-color: rgb(37, 97, 37);
      padding: 10px;
      color: white;
      display: inline-block;
      margin-top: 10px;
    }
    .factura{
      color: #fff;
      margin: 0;
      padding: 0;
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }