<div class="principal">
    <div class="container">
      <button mat-icon-button class="close-button" [mat-dialog-close]="true" >
        <mat-icon
          class="close-icon"
          style="background-color: #060920;"
          >close</mat-icon
        >
      </button>
      
    </div>
   
    <div *ngIf="datos">

      <mat-dialog-content class="bodyDiag">   
        <h2 >Factura N° {{datos?.id}}</h2>
        <p><strong>Fecha de Orden: </strong>{{ datos.fechaOrden | date:'dd/MM/yyyy'}}</p>
        <div *ngFor="let producto of datos.ordenProductos">
            <p><strong>Producto:</strong> {{ producto.producto?.nombreProducto }}</p>
            <p><strong>Cantidad: </strong>{{ producto.cantidad }}</p>
            <p><strong>Subtotal: </strong>{{ producto.subtotal | currency : "₡" }}</p>                
          </div>                
          <p><strong>Total Orden: </strong>{{ datos.totalOrden | currency : "₡" }}</p>  
        <p><strong>Método de Pago: </strong>{{ datos.metodoPago.descripcion }}</p>
        <p><strong>Dirección entrega: </strong>{{ datos.direccion.provincia + ' ' + datos.direccion.canton + ' ' + datos.direccion.distrito }}</p>
       
        <p><strong>Usuario: </strong>{{ datos.usuario?.nombre}}</p>    
        <p class="green-text"><strong>Estado: </strong>
          <span *ngIf="datos.estado === 1" class="green-text">Finalizado</span>
          <span *ngIf="datos.estado !== 1" class="green-text">Pendiente</span>
        </p>
    
    
      </mat-dialog-content>
  
