<br><br><br><br>
<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('assets/images/collage.jpg');
      height: 400px;
      margin-top: 58px;"
  >
    <div class="mask" style="background-color: rgba(54, 54, 54, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">MaPa's Shoes Store</h1>
          <h4 class="mb-3">Encontrá diseños especiales para ti</h4>      
          <a class="btn btn-outline-light btn-lg" href="/producto" role="button"
          >Ver catálogo</a>
        </div>
      </div>
    </div>
  </div>

  <br>
