

<div class="centered-content">
  <p class="text-header">Calidad, Comfort y Calidad!</p>
</div>

<div class="row">
  <div class="col-md-2 d-flex">
    <div class="card custom-card">
      <div class="card-header">Apartado de Damas</div>
      <div class="card-front">
        <div class="image-grid">
          <img src="assets/images/womenSandals.jpg" class="card-img-top" alt="Card Image 1">
          <img src="assets/images/womenCasual.jpg" class="card-img-top" alt="Card Image 2">
          <img src="assets/images/womenShoes.jpg" class="card-img-top" alt="Card Image 3">
          <img src="assets/images/womenTennis.jpg" class="card-img-top" alt="Card Image 4">
        </div>
        <div class="card-overlay">
          <a href="#" class="btn btn-primary">Ir al Catálogo</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2 d-flex">
    <div class="card custom-card">
      <div class="card-header">Apartado de Caballeros</div>
      <div class="card-front">
        <div class="image-grid">
          <img src="assets/images/manSandals.jpg" class="card-img-top" alt="Card Image 1">
          <img src="assets/images/manCasual.jpg" class="card-img-top" alt="Card Image 3">
          <img src="assets/images/manCasual1.jpg" class="card-img-top" alt="Card Image 2">
          <img src="assets/images/manTennis.jpg" class="card-img-top" alt="Card Image 4">
        </div>
        <div class="card-overlay">
          <a href="#" class="btn btn-primary">Ir al Catálogo</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2 d-flex">
    <div class="card custom-card">
      <div class="card-header">Apartado de Niños</div>
      <div class="card-front">
        <div class="image-grid">
          <img src="assets/images/boySandals.jpg" class="card-img-top" alt="Card Image 1">
          <img src="assets/images/boyCasual.jpg" class="card-img-top" alt="Card Image 3">
          <img src="assets/images/boyShoes.jpg" class="card-img-top" alt="Card Image 2">
          <img src="assets/images/boyTennis.jpg" class="card-img-top" alt="Card Image 4">
        </div>
        <div class="card-overlay">
          <a href="#" class="btn btn-primary">Ir al Catálogo</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 d-flex">
    <div class="card custom-card">
      <div class="card-header">Apartado de Niñas</div>
      <div class="card-front">
        <div class="image-grid">
          <img src="assets/images/girlSandals.jpg" class="card-img-top" alt="Card Image 1">
          <img src="assets/images/girlCasual.jpg" class="card-img-top" alt="Card Image 3">
          <img src="assets/images/girlShoes.jpg" class="card-img-top" alt="Card Image 2">
          <img src="assets/images/girlTennis.jpg" class="card-img-top" alt="Card Image 4">
        </div>
        <div class="card-overlay">
          <a href="#" class="btn btn-primary">Ir al Catálogo</a>
        </div>
      </div>
    </div>
  </div>
</div>