.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
  }

  .encabezado {
    background-color: #022146;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: -1%;
    border-radius: 5px;
    font-size: 24px;
  }
  
  .direccion-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    text-align: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .col {
    flex: 1;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #4cae4c;
  }
  