<br /><br /><br /><br />
<div class="card">
  <div class="card-header card-header-warning" style="border: none;background-color: #ff8977;">
    <h4 class="card-title">Orden de Compra</h4>
    Fecha: {{ fecha | date : "dd/MM/yyyy" }}
  </div>

  <mat-card-content *ngIf="dataSource" class="tabla">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="producto">
        <mat-header-cell *matHeaderCellDef class="titulo">
          Producto
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.product.nombreProducto }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="precio">
        <mat-header-cell *matHeaderCellDef class="titulo">
          Precio
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.precio | currency }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="cantidad">
        <mat-header-cell *matHeaderCellDef class="titulo">
          Cantidad
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field appearance="fill">
            <input
              matInput
              id="cantidad "
              type="number"
              class="form-control mb-2"
              [(ngModel)]="element.cantidad"
              (change)="actualizarCantidad(element)"
            />
          </mat-form-field>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef class="footer-total" class="titulo"
          >Total
        </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="subtotal">
        <mat-header-cell *matHeaderCellDef class="titulo">
          Subtotal
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.subtotal | currency : "₡" }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef class="footer-total" style="color: #457FAD;">{{
          total | currency : "₡"
        }}</mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef class="titulo">
          Acciones</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <a
            mat-fab
            matTooltip="Detalle"
            aria-label="Detalle"
            color="primary"
            (click)="eliminarItem(element)"
          >
            <mat-icon class="squar">delete</mat-icon>
          </a>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="header"
      ></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      <mat-footer-row
        *matFooterRowDef="displayedColumns"
        class="footer-row"
      ></mat-footer-row>
    </mat-table>
  </mat-card-content>
  <div class="card-header card-header-warning" style="border: none;background-color: #d1c6c4;">
<mat-card-content>
<div>
  <mat-form-field>
    <mat-label>Seleccionar Método de Pago</mat-label>
    <mat-select [(ngModel)]="selectedPaymentMethod" name="metodosPago">
      <mat-option *ngFor="let metodo of metodosPagoList" [value]="metodo.id">
        {{ metodo.descripcion }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-label>Seleccionar Dirección de Envio</mat-label>
    <mat-select [(ngModel)]="selectedAddress" name="direcciones">
      <mat-option *ngFor="let direccion of direccionesList" [value]="direccion.id">
        {{ direccion.provincia + " "+ direccion.canton +" "+ direccion.distrito }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
  <mat-card-actions align="end">
    <button
      mat-flat-button
      style="background-color: #ff8977; color: #022146;"
      (click)="registrarOrden()"
    >
      Comprar
      <mat-icon class="squar">shopping_bag</mat-icon>
    </button>
  </mat-card-actions>
</mat-card-content>
</div>
</div>
