<mat-card class="dashboard-card" *ngIf="datos"  >
    <mat-card-header>
      <mat-card-title>
        {{datos.fechaOrden }}
       
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <p><b>Usuario: </b>{{datos.usuario}}</p>
      <p><b>Direccion: </b>{{datos.direccion}}</p>
      <p><b>Categorías: </b></p>
      <!-- <ul *ngIf="datos.categoria">
         <li *ngFor="let item of datos.categoria> {{item.nombreCategoria}}</li>
      </ul> -->
    </mat-card-content>
  </mat-card>
  