.contenido{
    max-width: 400px;
    text-align: justify;
    margin: auto;

}
.dashboard-card{
    background-color: #060920;
}
.titulo{
    text-align: center;
}
.img{
    max-width: 80px;
    max-height: 80px;      
margin-left: 200px;

  }