<h1 class="titulo">Más información</h1>
<div class="contenido">
<mat-card class="dashboard-card" *ngIf="datos"  >
    <mat-card-header>
      <mat-card-title>
        {{datos.nombreProducto }}
       
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <p><b>Descripción: </b>{{datos.descripcion}}</p>
      <p><b>Precio: </b>₡{{datos.precio | number: '1.2-2' }}</p>
      <p><b>Categoría: </b>{{ datos.categoria.nombreCategoria }}</p> <!-- Cambio aquí -->
    </mat-card-content>
  </mat-card>
</div>
  