<br><br><br><br><br>
<div class="contenido1">
<mat-card class="shipping-card">
  <mat-card-title>Cantidad de compras del día:</mat-card-title>
  <mat-card-content>
<p>{{cantOrdenes}}</p>
  </mat-card-content>
</mat-card>
</div>

<div class="contenido2">
  <div class="row marginTile">
    <div class="col headerCardcolor2">
      <p>Top 5 Productos vendidos en {{ mes }}</p>
    </div>
    <div class="col backChart">
      <canvas #graficoCanvas width="702" height="351" class="chart"></canvas>
    </div>
  </div>
</div>

