.full-width-table {
  width: 100%;
 background-color: #060920;
}
.square-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
  border-radius: 4px; /* Adjust the border-radius as needed */

}
.squar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24x; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
  border-radius: 4px; /* Adjust the border-radius as needed */

}

.add {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
  border-radius: 4px; /* Adjust the border-radius as needed */
  background-color:  #750918;
}
.finalizado{
  background-color: rgb(4, 77, 4);
  text-align: center;
  border-radius: 4px;
  color: #E7E7E7;
}
.pendiente{
  background-color: #750918;
  text-align: center;
  border-radius: 4px;
}
.card{
  background-color: #022146;
  color: #060920;
  margin-top: 50px;
  margin-left: 45px;
  margin-right: 45px;
}
.paginator{
  background-color: #022146;
  color: #060920;
}
.tab{
  background-color: #EFEFEF ;
}
.titulo{
  color: #022146;
}
.card-title{
  color: #EFEFEF;
}
.crear{
  color: #fff;
}